[user]
	email = jjavier.dominguez@gmail.com
	name = Javier Dominguez

[alias]
	st = status
	c = !git add -A && git commit
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
